.TodoSearch {
    background: rgb(213, 213, 247);
    border-radius: 10px;
    border: 2px solid gray;
    margin: 0 24px;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    transition: 1s;
  }
  
  .TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: #61DAFA;
    
  }

.TodoSearch:hover{

    background: linear-gradient(to bottom, white, rgb(196, 196, 248));
  }
.TodoSearch:disabled{
  opacity: 25%;
}